# Human Resources and Candidate Search

By Author : Mingfei Ma

Date: 01/20/2021

In [1]:
import pandas as pd
import re

In [2]:
candidate = pd.read_csv("Candidates.csv")

In [3]:
candidate

   name of the candidate     name of the text file
0               Ann Dave         AnnDaveResume.txt
1             Bob Robert       BobRobertResume.txt
2        Catherine Lance  CatherineLanceResume.txt
3              Dave Matt        DaveMattResume.txt
4                Eva Lee          EvaLeeResume.txt
5            Flora Lopez      FloraLopezResume.txt
6         Gale Valuntine   GaleValuntineResume.txt
7          Hathaway Chen    HathawayChenResume.txt
8           Idell George     IdellGeorgeResume.txt
9              Jason Dan        JasonDanResume.txt
10           Kyle Howard      KyleHowardResume.txt
11           Marvin Kate      MarvinKateResume.txt
12            Nancy Wang       NancyWangResume.txt
13        Oscar Roberson   OscarRobersonResume.txt
14           Steve Lance      SteveLanceResume.txt

# Reading job description and Gathering required skills from job description

In [4]:
countbeginning = 0
countending = 0
count = 0
with open("Job Description.txt","r") as job_description :
    for line in job_description:
        count +=1
        if "Requirements:" in line: 
            countbeginning = count
        if "Pluses:" in line:
            countending = count

In [5]:
countbeginning

9

In [6]:
countending

22

In [7]:
job_description = open("Job Description.txt","r")
job_description = job_description.read()
properties = job_description.split("\n\n")

In [8]:
job_requirement =   properties[3]
job_requirement_2 = properties[4]

# Go through 15 resumes to see how well they match the job requirements

Build a function to get their match scores of each resume

In [9]:
def resume_score(name):
    score = 0
    file1 = job_requirement
    file2 = job_requirement_2
    with open(name,"r") as resume:
        resume=resume.readlines()
        for line in resume:
            line=line.strip('\n')
            if line =="\n\n":
                continue
            if (line in file1):
                score=score+1
            if (line in file2):
                score=score+1
    return(score)

Go through the whole candidates by searching key words

In [10]:
score = []
for names in candidate["name of the text file"]:
    score.append(resume_score(names))

In [11]:
score

[4, 6, 9, 5, 3, 14, 8, 5, 7, 7, 6, 15, 6, 10, 7]

In [12]:
candidate["score"]=score

In [13]:
candidate

   name of the candidate     name of the text file  score
0               Ann Dave         AnnDaveResume.txt      4
1             Bob Robert       BobRobertResume.txt      6
2        Catherine Lance  CatherineLanceResume.txt      9
3              Dave Matt        DaveMattResume.txt      5
4                Eva Lee          EvaLeeResume.txt      3
5            Flora Lopez      FloraLopezResume.txt     14
6         Gale Valuntine   GaleValuntineResume.txt      8
7          Hathaway Chen    HathawayChenResume.txt      5
8           Idell George     IdellGeorgeResume.txt      7
9              Jason Dan        JasonDanResume.txt      7
10           Kyle Howard      KyleHowardResume.txt      6
11           Marvin Kate      MarvinKateResume.txt     15
12            Nancy Wang       NancyWangResume.txt      6
13        Oscar Roberson   OscarRobersonResume.txt     10
14           Steve Lance      SteveLanceResume.txt      7

# Write 5 best fit candidates into a file

In [14]:
candidate.sort_values("score",inplace=True,ascending=False)

In [15]:
candidate

   name of the candidate     name of the text file  score
11           Marvin Kate      MarvinKateResume.txt     15
5            Flora Lopez      FloraLopezResume.txt     14
13        Oscar Roberson   OscarRobersonResume.txt     10
2        Catherine Lance  CatherineLanceResume.txt      9
6         Gale Valuntine   GaleValuntineResume.txt      8
8           Idell George     IdellGeorgeResume.txt      7
9              Jason Dan        JasonDanResume.txt      7
14           Steve Lance      SteveLanceResume.txt      7
1             Bob Robert       BobRobertResume.txt      6
10           Kyle Howard      KyleHowardResume.txt      6
12            Nancy Wang       NancyWangResume.txt      6
3              Dave Matt        DaveMattResume.txt      5
7          Hathaway Chen    HathawayChenResume.txt      5
0               Ann Dave         AnnDaveResume.txt      4
4                Eva Lee          EvaLeeResume.txt      3

In [16]:
final_5_candidates = candidate[["name of the candidate","score"]][0:5]

In [17]:
final_5_candidates

   name of the candidate  score
11           Marvin Kate     15
5            Flora Lopez     14
13        Oscar Roberson     10
2        Catherine Lance      9
6         Gale Valuntine      8

So, our final 5 candidates who are the most suitable to the data scientist job requirement would be **Marvin Kate,Flora Lopez, Oscar Roberson, Catherine Lance,and Gale Valuntine.**

# Create characteristics by searching key words in their resume

Build a function to catch key words

In [18]:
def resume_characteristics(name):
    key_words = set()
    with open(name,"r") as resume:
        resume=resume.readlines()
        for line in resume:
            if "Ph.D" in line:
                key_words.add("Ph.d")
            if "Master" in line:
                key_words.add("Masters")
            if "machine learning" in line:
                key_words.add("machine learning")
            if "managing data scientists" in line:
                key_words.add("managing data scientists")
            if "strong knowledge" in line:
                key_words.add("strong knowledge")
            if "spoken communication skills" in line:
                key_words.add("good communication skills")
            if "passion for video games" in line:
                key_words.add("passionate on games")
            if "data visualization" in line:
                key_words.add("data visualization")
            if "Strong problem-solving" in line:
                key_words.add("Strong problem-solving")
    return(key_words)

In [19]:
char = []
for names in candidate["name of the text file"][0:5]:
    char.append(resume_characteristics(names))

In [20]:
final_5_candidates["characteristics"] = char

In [21]:
final_5_candidates

,name of the candidate,score,characteristics
11,Marvin Kate,15,"{data visualization, Ph.d, Strong problem-solv..."
5,Flora Lopez,14,"{data visualization, Ph.d, Strong problem-solv..."
13,Oscar Roberson,10,"{data visualization, Strong problem-solving, m..."
2,Catherine Lance,9,"{Ph.d, Strong problem-solving, machine learnin..."
6,Gale Valuntine,8,"{data visualization, Strong problem-solving, m..."

# Write 5 candidates down with the score and characteristics as a csv file

In [23]:
final_5_candidates.to_csv("ToInterview.csv")